body{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    width: 900px;
}
h1{
    font-size: 37px;
    font-family: tahoma,Helvetica,sans-serif;
    color:#000000;
    line-height: 46px;
}

h2{
    font-size: 25px;
    line-height: 38px;
    font-family: tahoma,Helvetica,san-serif;
}
h3{
    font-size: 18px;
    color: #666;
}
p {
    font-size: 18px;
    line-height: 27px;
    color: #333;
}